[
 %% SASL config
 {sasl, [
         %{sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},
 %% game config
 { {{projectid}},[{policy_file, liberal},{gameport,9933},{listen,2},{flashport,8843},{webport,8080}]},
 %%resource config
 {resource_discovery,[{contact_nodes, ['{{projectid}}@127.0.0.1']}, {heartbeat_frequency, 60000}, {log4erl_config, "etc/log4erl.conf"}]}
].  
