%% -*- erlang -*-

{sub_dirs, [
            "apps/{{projectid}}",
            "rel"
           ]}.

{erl_opts, [
            debug_info, 
            fail_on_warning
           ]}.

%%{require_otp_vsn, "R16"}.

%% Example, uncomment to retrieve cowboy as a dep.
{deps, [
	  {ranch, ".*", {git, "https://github.com/extend/ranch.git", "master"}},
	  {lager,".*",  {git, "git://github.com/basho/lager.git","master"}},
	  {luerl,".*",  {git, "git://github.com/rvirding/luerl.git","master"}},
	  {ibrowse,".*",  {git, "git://github.com/cmullaparthi/ibrowse.git","master"}},
	  {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
	  {cowboy,".*",  {git, "git://github.com/extend/cowboy.git","master"}},
	  {boss_db,".*",{git, "git://github.com/ChicagoBoss/boss_db.git", "master"}} 
       ]}.
